<ng-container>
  <ng-container>
    <section>
      <div class="container">
        <div class="row mt-3">
          <div class="progress">
            <div class="progress-bar bg-success" role="progressbar" aria-valuenow="" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
          <div class="col">
            <h4 class="fw-bold text-start">Commands</h4>
            <button type="button" class="btn btn-info">Create new user</button>
            <button type="button" class="btn btn-info">List new user</button>
          </div>
          <div class="col">
            <h4 class="fw-bold text-end"><i style="cursor: pointer;color: green;font-size: 30px;" class="bi bi-file-earmark-excel"></i></h4>
          </div>
          <div class="col-xm-12">
            <table class="table table-hover">
              <thead>
              <tr>
                <th class="text-center" scope="col">ID</th>
                <th scope="col">First name</th>
                <th scope="col">Last name</th>
                <th scope="col">Email</th>
                <th scope="col">Address</th>
                <th scope="col">Phone</th>
                <th scope="col">Bio</th>
                <th scope="col">Created at</th>
              </tr>
              </thead>
              <tbody class="table-body">
              <tr class="cell-1">
                <th class="text-center">1</th>
                <td>John</td>
                <td>Doe</td>
                <td>john.doe[at]email.com</td>
                <td>Varna, Bulgaria</td>
                <td>1234567890</td>
                <td>Junior Java Developer</td>
                <td>Timestamp</td>
                <td>
                  <button type="button" class="btn btn-info">Update</button>
                </td>
                <td>
                  <button type="button" class="btn btn-info">Delete</button>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </section>
  </ng-container>
</ng-container>
